@use "variables";

@font-face {
    font-family: 'Futura';
    src: url(/fonts/FuturaLT-Light.ttf);
}

@font-face {
    font-family: 'FuturaRg';
    src: url(/fonts/FuturaLT.ttf);
}

@font-face {
    font-family: 'FuturaIt';
    src: url(/fonts/FuturaLT-LightOblique.ttf);
}


*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

*:focus {
    outline: none;
}

body {
    overflow-x: hidden;
    font-family: FuturaRg;
    font-size: variables.$font_medium;
    line-height: 1.5;
    letter-spacing: 1px;
    color: variables.$nav_links;
    text-align: center;
    background-color: #241a1a;

    &.noscroll {
        overflow: hidden;
    }

    .blanket-focused {
        top: 0;
    }
    .exit-focused {
        right: 0;
    }
}

a:link,
a:visited,
a:hover {
    text-decoration: none;
    color: variables.$nav_links;
}

p {
    cursor: default;
    padding: 0 1.7rem;
}

canvas {
    touch-action: none;
}

#root {
    width: 100vw;
    height: 100vh;
    
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    margin: 12px 24px;
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    transition: all 2s ease-out;
}

.logo-visible {
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
}