.canvas {
    width: 100vw;
    height: 100vh;
}

.gl-dialog {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    color: $overlay;
    padding: 8px;
    border: 1px solid;
    border-radius: 5px;
    background: #000000aa;
    transform: translate(-50%, -50%);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    font-size: 14px;

    .gl-dialog-btn {
        padding: 5px;
        border: 1px solid;
        border-radius: 5px;
        cursor: pointer;
    }
}
